{% extends 'base.html.twig' %}
{% block title %}Projets{% endblock %}

{% block body %}
    <div class="lonon-projects">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"> <span class="heading-meta style-1">Take a Look at</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">My Projects</h2> </div>
            </div>
            <div class="row">
                {% for project in listProjects %}
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <a href="{{ path('showProject',{'id':project.id}) }}" class="desc">
                            <div class="project"> <img src=" {{ asset('Front/images/portfolio/04.jpg') }}" class="img-fluid" alt="">
                                <div class="desc">
                                    <div class="con">
                                        <h3>{{ project.title }}</h3> <span>Box Mockup, Branding</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}